homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_lat
  longitude: !secret home_lon
  # Impacts weather/sunrise data (meters above sea level)
  elevation: !secret home_elev
  # 'metric' for the metric system, 'imperial' for the imperial system
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: !secret time_zone
    
    
###################################################
#                 Customization                   #
###################################################

  customize: !include customize.yaml


###################################################
#                      Misc                       #
###################################################

# Configuration for the website
http:
    base_url: !secret base_url
    
#System health component
system_health:

# Track the sun
sun:

# Discover some devices automatically
discovery:

# View all events in a logbook
logbook:
    include:
        entities:
          - device_tracker.michael_pixel3
        domains:
          - automation
          
# View History of specific items
history:
    include:
        entities:
          - sensor.dark_sky_pressure

# Configuring recorder to keep size down
recorder:
    purge_keep_days: 7
    purge_interval: 1

# Enable config screen
config:

# Enables the frontend
frontend:

# Enable map screen
map:

# Add in mobile app compatibility
mobile_app:

###################################################
#                     Zones                       #
###################################################
zone:
  name: Work
  latitude: !secret work_lat
  longitude: !secret work_lon
  radius: 300
  icon: mdi:domain

zone 2:
  name: Honda R&D
  latitude: !secret guest_lat
  longitude: !secret guest_lon
  radius: 500
  icon: mdi:factory 

###################################################
#                      Hubs                       #
###################################################

zwave:
    usb_path: /dev/ttyACM0
    polling_interval: 10000 # Polling speed in milliseconds
    # High polling number was needed to keep z-wave network stable and working

###################################################
#                     Google                      #
###################################################

google_assistant:
  project_id: !secret google_project_id
  service_account: !include SERVICE_ACCOUNT.JSON  # Needed for report_state=true
  report_state: true
  exposed_domains:
    - switch

###################################################
#                    Weather                      #
###################################################

# Weather Prediction
sensor:
  - platform: template
    sensors:
      nws_pressure:
        friendly_name: "Pressure"
        unit_of_measurement: 'mbar'
        value_template: "{{ state_attr('weather.kmrt_daynight', 'pressure')|float * 33.8639 | round(2) }}"

# Finding the rate of change of the pressure
sensor 3:
  - platform: derivative
    source: sensor.nws_pressure
    unit: 'mbar'
    name: Pressure Change

# Filtering out the pressure change rate for unreasonable values (zero values from pressure creates $inf derivative)
sensor 4:
  - platform: template
    sensors:
      pressure_change_filtered:
        friendly_name: "Pressure Change Filtered"
        unit_of_measurement: 'mbar'
        value_template: "{% if float(states.sensor.pressure_change.state) > 200 %} 0 {% elif float(states.sensor.pressure_change.state) < -200 %} 0 {% else %} {{ states.sensor.pressure_change.state }} {% endif %}"

# Filtering out the pressure to translate 0 vales (not possible) to None to improve graph.
sensor 5:
  - platform: template
    sensors:
      pressure_filtered:
        friendly_name: "Pressure Filtered"
        unit_of_measurement: 'mbar'
        value_template: "{% if float(states.sensor.nws_pressure.state) < 700 %} None {% else %} {{ states.sensor.nws_pressure.state }} {% endif %}"

iqvia:
    zip_code: !secret zipCode
    monitored_conditions:
      - allergy_average_forecasted
#      - allergy_average_historical
      - allergy_index_today
#      - allergy_index_yesterday
      - allergy_index_tomorrow
      - disease_average_forecasted

camera:
    platform: generic
    still_image_url: !secret radar_url
    name: HomeWeatherRadar

###################################################
#                    Whitewater                   #
###################################################

camera 2:
    - platform: generic
      still_image_url: https://water.weather.gov/resources/hydrographs/oplp1_hg.png
      name: LowerYoughRiverLevel
    - platform: generic
      still_image_url: https://water.weather.gov/resources/hydrographs/mrdo1_hg.png
      name: MadRiverDayton
    - platform: generic
      still_image_url: https://water.weather.gov/resources/hydrographs/delo1_hg.png
      name: Olentangy
    - platform: generic
      still_image_url: https://water.weather.gov/resources/hydrographs/dtno1_hg.png
      name: DaytonArtWave
    - platform: generic
      still_image_url: https://water.weather.gov/resources/hydrographs/dbvo1_hg.png
      name: BigDarby

###################################################
#                  System info                    #
###################################################

# System resources
sensor 2: 
    - platform: systemmonitor
      resources: 
        #- type: 'disk_use_percent'
        #  arg: '/Pool1-Working'
        #- type: 'disk_free'
        #  arg: '/Pool1-Working'
        - type: 'disk_use_percent'
          arg: '/'
        - type: 'disk_free'
          arg: '/'
        - type: 'memory_use_percent'
        - type: 'memory_use'
        - type: 'memory_free'
#        - type: 'swap_free'
        - type: 'swap_use_percent'
        - type: 'processor_use'
        - type: 'last_boot'
    
    - platform: command_line
      name: cpu_0_temperature
      command: cat /config/cpu0temp.txt
      unit_of_measurement: "째C"
    
    - platform: command_line
      name: P8J8XDVR_Temperature
      command: cat /config/P8J8XDVRtemp.txt
      unit_of_measurement: "째C"

    - platform: command_line
      name: 200703809989_Temperature
      command: cat /config/200703809989temp.txt
      unit_of_measurement: "째C"

    - platform: command_line
      name: P8G1G7YR_Temperature
      command: cat /config/P8G1G7YRtemp.txt
      unit_of_measurement: "째C"


###################################################
#              Presence Detection                 #
###################################################

#Tracking is now done through HomeAssistant Phone app

###################################################
#                  Notifications                  #
###################################################

notify:
    platform: pushbullet
    api_key: !secret pushbullet_key
    name: pushbullet

###################################################
#                     Computers                   #
###################################################

wake_on_lan:

switch:
  - platform: wake_on_lan
    name: "Demios Desktop"
    mac: 70:85:c2:57:2a:83
#    broadcast_address: 192.168.1.11

###################################################
#                      Mining                     #
###################################################

sensor 6:
  - platform: coinmarketcap
    currency_id: 833
    
###################################################
#                    Groups                       #
###################################################

### Tabs

# Groups
group: 
    HomeLights:
      name: HomeLights
      entities:
        - switch.coach_lights_switch # Coach lights
        - switch.living_room_ligh_switch # Living room lights
        - switch.bedroom_lights_switch # Master bedroom lights
        - switch.entryway_light_switch # Entryway lights
        - switch.hall_light_switch # Hall light near bedroom
        - switch.tv_outlet_switch # Switch to turn TV on-off
        - switch.kitchen_light # Lights for the kitchen
        - switch.dining_room_switch # Light for the dining room


###################################################
#                   Automation                    #
###################################################

# Automation
automation:
  - alias: 'Turn on Lights at Dusk'
    # Turns on Living room and outdoor lights when the sun goes down
    initial_state: 'on'
    trigger:
      platform: numeric_state
      entity_id: sun.sun
      value_template: '{{ state.attributes.elevation }}'
      below: 1.0
    action:
      - service: homeassistant.turn_on
        entity_id:
          - switch.coach_lights_switch # Coach lights
      - condition: state
        entity_id: switch.hall_light_switch
        state: 'off'
      - service: homeassistant.turn_on
        entity_id:
          - switch.living_room_ligh_switch # Living room lights

automation 2:
  - alias: 'Turn on lights in the morning after alarm'
    # Turns on master bedroom lights in the morning to help wake up
    # Relies on Sleep as Android (and tasker) for trigger and sun state for other lights
    initial_state: 'on'
    trigger:
      platform: webhook
      webhook_id: !secret morning_light_webhook
    action:
      - service: homeassistant.turn_on
        entity_id:
          - switch.bedroom_lights_switch # Master bedroom lights
          - switch.tv_outlet_switch
      - service: climate.set_temperature
        data:
          entity_id: climate.linear_nortek_security_control_llc_gc_tbz48_battery_powered_z_wave_thermostat_mode
          target_temp_high: 78
          target_temp_low: 68
          hvac_mode: heat_cool
      - condition: numeric_state
        entity_id: sun.sun
        value_template: '{{ state.attributes.elevation }}'
        below: 0.5
      - service: homeassistant.turn_on
        entity_id:
          - switch.living_room_ligh_switch # Living room lights
          
automation 3:
  - alias: 'Turn off Lights at Night'
    # Turn off Living room lights to force me to bed or if I have fallen asleep without starting sleep tracking.
    # Also turns off outside lights as they don't need to stay on all night.  
    initial_state: 'on'
    trigger:
      platform: time
      at: '2:00:00'
    action:
      service: homeassistant.turn_off
      entity_id:
        - switch.coach_lights_switch # Coach lights
        - switch.living_room_ligh_switch # Living room lights
        - switch.kitchen_light
        - switch.dining_room_switch
        - media_player.loki
        - switch.hall_light_switch
        - switch.entryway_light_switch
        - switch.tv_outlet_switch
        - switch.bedroom_lights_switch # Master bedroom lights

automation 4:
  - alias: 'Sleep time'
    # Turns off all inside lights after starting sleep.  Uses mqtt and tasker to send the message
    initial_state: 'on'
    trigger:
      platform: webhook
      webhook_id: !secret sleep_time_webhook
    action:
      - service: homeassistant.turn_off
        entity_id:
        - switch.living_room_ligh_switch # Living room lights
        - switch.bedroom_lights_switch # Master bedroom lights
        - switch.kitchen_light
        - switch.dining_room_switch
        - media_player.loki
        - switch.hall_light_switch
        - switch.entryway_light_switch
        - switch.tv_outlet_switch
      - service: climate.set_temperature
        data:
          entity_id: climate.linear_nortek_security_control_llc_gc_tbz48_battery_powered_z_wave_thermostat_mode
          target_temp_high: 80  # Leaving at 80 since night time is normally cool enough
          target_temp_low: 64
          hvac_mode: heat_cool

automation 5:
  - alias: 'Turn off lights in the morning if needed'
    # Turns off lights in the morning if the sun rises after 6:30.
    # This excludes the master bedroom as I may still need the lights on. 
    initial_state: 'on'
    trigger:
      platform: numeric_state
      entity_id: sun.sun
      value_template: '{{ state.attributes.elevation }}'
      above: 1.0
    condition:
      condition: time
      after: '06:00:00'
    action:
      service: homeassistant.turn_off
      entity_id:
        - switch.living_room_ligh_switch # Living room lights

automation 6:
  - alias: 'Bedtime'
    # Turns off main lights and TV when it is bedtime.  Uses webhooks and tasker to send the message
    initial_state: 'on'
    trigger:
      platform: webhook
      webhook_id: !secret bedtime_webhook
    condition:
      condition: state
      entity_id: switch.living_room_ligh_switch
      state: 'on'
    action:
      - service: homeassistant.turn_on
        entity_id:
        - switch.entryway_light_switch
        - switch.hall_light_switch
      - service: homeassistant.turn_off
        entity_id:
        - switch.living_room_ligh_switch # Living room lights
        - switch.dining_room_switch
        - switch.tv_outlet_switch
        - media_player.loki


automation 7:
  - alias: 'Away Mode'
    # Sets house to away mode
    initial_state: 'on'
    trigger:
      platform: zone
      event: leave
      zone: zone.home
      entity_id: device_tracker.michael_pixel3
    action:
      - service: climate.set_temperature
        data:
          entity_id: climate.linear_nortek_security_control_llc_gc_tbz48_battery_powered_z_wave_thermostat_mode
          target_temp_high: 80  # Leaving at 80 since it isn't too bad
          target_temp_low: 64
          hvac_mode: heat_cool
      - service: homeassistant.turn_off
        entity_id:
        - switch.bedroom_lights_switch
        - switch.tv_outlet_switch
        - switch.kitchen_light
        - switch.dining_room_switch

automation 8:
  - alias: 'Home'
    # Sets house to at home mode
    initial_state: 'on'
    trigger:
      platform: zone
      event: enter
      zone: zone.home
      entity_id: device_tracker.michael_pixel3
    action:
      - service: climate.set_temperature
        data:
          entity_id: climate.linear_nortek_security_control_llc_gc_tbz48_battery_powered_z_wave_thermostat_mode
          target_temp_high: 78
          target_temp_low: 68
          hvac_mode: heat_cool
      - service: homeassistant.turn_on
        entity_id:
        - switch.tv_outlet_switch

automation 9:
  - alias: 'Door Notification'
    # Sends notification when door opened if not home
    initial_state: 'on'
    trigger:
      platform: state
      entity_id: binary_sensor.ecolink_doorwindow_sensor_sensor
      from: 'off'
      to: 'on'
    condition:
      condition: state
      entity_id: device_tracker.michael_pixel3
      state: 'not_home'
    action:
      - service: notify.pushbullet
        data:
          message: "Garage door opened"
          title: "Door Opened"
